.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  overflow-y: hidden
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.main{
  width: 80%;
  height: 85%;
  overflow-x: hidden;
  overflow-y: auto;
}

.post-list-page, .home-page, .community-page, .post-page {
  overflow-y: auto;
  overflow-x: hidden;
  width: auto;
  padding: 20px;
}

/*Link-Flair Styling*/

.link-flair {
  display: inline-block;
  padding: 5px;
  margin: 5px 0;
  border: 0;
  border-radius: 5px;
  color: white;
  background-color: #FF4500;
  p {
      font-size: 12px;
  }
}

