.pl-header {
    padding: 0 20px;

    #join-btn {
        display: inline-block;
        border: 0px solid #000;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        padding: 5px 15px;
        margin: 0 10px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    #join-btn.join {
        background-color: orangered;
        color : white;
    }

    #join-btn.join:hover {
        background-color: #e03d00;
        color : #fff;
    }

    #join-btn.leave {
        background-color: lightgray;
        color : black;
    }

    #join-btn.leave:hover {
        background-color: black;
        color : white;
    }

    .box {
        display: flex;
        justify-content: space-between;
        padding: 0 0;
        margin: 0 0;
        border: 0px solid #000;
    
        h2 {
            margin: 10px 0px;
            margin-right: 10px;
        }
    }
    
    .sort-box {
        display: flex;
        justify-content: space-around;
        padding: 0px 0px;
        margin: 5px;
    }
    
    .sort-btn {
        display: block;
        border: 0px solid #000;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        padding: 0px 20px;
        margin: 0 5px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    
    .sort-btn:hover {
        background-color: orangered;
        color : #fff;
    }
}


.postlist {
    padding: 0 20px;

    .post {
        padding: 10px 0;
        cursor: pointer;
        width: 100%;

        p {
            margin: 0;
        }
    }
      
    .post:hover {
        background-color: #f0f0f0;
    }

    hr {
        padding-top: 20;
        border: 2px dotted #000;
        border-style: none none dotted; 
    }
}

  